<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>VehicleTowingServer</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Jersey REST Service</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>com.java.towing.service</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey REST Service</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.java.towing.servlet.Login_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserAddServlet</servlet-name>
    <servlet-class>com.java.towing.servlet.User_Add_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAddServlet</servlet-name>
    <url-pattern>/User_Add_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserUpdateServlet</servlet-name>
    <servlet-class>com.java.towing.servlet.User_Update_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdateServlet</servlet-name>
    <url-pattern>/User_Update_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Towing_Agent_Add_Servlet</servlet-name>
    <servlet-class>com.java.towing.servlet.Towing_Agent_Add_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Towing_Agent_Add_Servlet</servlet-name>
    <url-pattern>/Towing_Agent_Add_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Towing_Agent_Update_Servlet</servlet-name>
    <servlet-class>com.java.towing.servlet.Towing_Agent_Update_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Towing_Agent_Update_Servlet</servlet-name>
    <url-pattern>/Towing_Agent_Update_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Vehicle_No_Add_Servlet</servlet-name>
    <servlet-class>com.java.towing.servlet.Vehicle_No_Add_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Vehicle_No_Add_Servlet</servlet-name>
    <url-pattern>/Vehicle_No_Add_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Vehicle_No_Update_Servlet</servlet-name>
    <servlet-class>com.java.towing.servlet.Vehicle_No_Update_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Vehicle_No_Update_Servlet</servlet-name>
    <url-pattern>/Vehicle_No_Update_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateNoPlateServlet</servlet-name>
    <servlet-class>com.java.towing.servlet.UpdateNoPlateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateNoPlateServlet</servlet-name>
    <url-pattern>/UpdateNoPlateServlet</url-pattern>
  </servlet-mapping>
</web-app>